
.App {

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events:stroke;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s alternate;
    
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.my-form{
  display:flex;
  flex-wrap:wrap;
  background-image: url(assets/images/back4.jpg);  height: 1800px;
  justify-content: center;
  align-content: space-between;
  gap:10px;
  font-style: italic;
  font-variant-ligatures: common-ligatures;
  font-family: sans-serif;
 
  padding-top: 20px;
  align-self: auto;
}

.my-nav{
  display:flex;
  flex-wrap:wrap;
  background-image: url(assets/images/back4.jpg);   height: 70px;
  text-shadow: none;
  justify-content: center;
  align-content: space-between;
  gap:10px;
  font-style: italic;
  font-variant-ligatures: common-ligatures;
  font-family: sans-serif;
 
  padding-top: 20px;
  align-self: auto;
}

  .my-form3{
    display:flex;
    flex-wrap:wrap;
    background-image: url(assets/images/back.png.jpg);    height:650px;
    justify-content: center;
    align-content: space-between;
    gap:10px;
    font-style: italic;
    font-variant-ligatures: common-ligatures;
    font-family: sans-serif;
    
    padding-top: 20px;
    align-self: auto;

  
  



}

.my-form2{
  display:flex;
  flex-wrap:wrap;
  background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(148, 186, 202), rgb(120, 169, 194));    height: 550px;
  justify-content: center;
  align-content: space-between;
  gap:10px;
  font-style: italic;
  font-variant-ligatures: common-ligatures;
  font-family: sans-serif;
  
  padding-top: 20px;
  align-self: auto;

  

  
  



}



 .form-group{
       padding-bottom:15px;
       
       


}
.my-form label{

    display:block;

}

.my-form input{
padding:8px;
width:100%;

}

.my-form input{
padding:8px;
width:100%;


}

.Errors{
  color: red;
}




  .box-1{

    font-family:'Times New Roman', Times, serif;
    text-align: center;
    
    font-size: large;
   
    
    font-weight: 400;
    
    padding-bottom: 20px;



} 


.box{
  display: flex;
   justify-content: center;
   align-items: center;




}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:solid;
  
  border-radius: 20%;
  border-color: lightslategrey;
  margin: 50px;
  padding: 20px;
  width: 40%;
  background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(148, 186, 202), rgb(120, 169, 194));    height: 400px;
  font-weight: 400;
  }
  
.title {

  color: #130c31;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  
  
}

.genres{

  color: aliceblue;
}


.font{

color:black;
font-size: large;
font-weight: 400;

}

.page {
  
 
  background-image: url(assets/images/back4.jpg);  height: 800px;


}

.Nav{
  
  border-color: lightslategrey;
  margin: 0px;
  padding: 22px;
  background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(184, 159, 165), rgb(17, 22, 25));    height: 55px;
  height: 10%;
}


.about{

  font-style: oblique;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  
}

.email {
  text-align: right;
  font-size: 18px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.Card{
  border-radius: 10%;
  border-color: lightslategrey;
  margin: 0px;
  padding: 22px;
  background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(144, 158, 168), rgb(87, 98, 104));    height: 550px;
  
}



.Nav{
  
  border-color: lightslategrey;
  margin: 0px;
  padding: 22px;
  background-color: transparent;
  height: 10%
}

.Footer{
  
  border-color: lightslategrey;
  margin: 0px;
  padding: 22px;
  background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(49, 40, 42), rgb(17, 22, 25));    height: 80px;
  
}

.Card2{
  border-radius: 10%;
  border-color: lightslategrey;
  margin: 0px;
  padding: 22px;
  background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(177, 160, 163), rgb(194, 203, 208));    height: 550px;
  font-size: large;
  
}

.Card3{
  display: flex;
  text-align: center;
  border-color: lightslategrey;
  margin: 0px;
 
  background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(177, 160, 163), rgb(87, 98, 104));    height: 550px;
 align-items: center;
  justify-content: center;
 
  width: 100%
}
.Card4{
  border-radius: 30%;
  display: flex;
  text-align: center;
  
  
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(177, 160, 163), rgb(87, 98, 104));    height: 50px;
  
  justify-content: center;
  align-items: center;


}

.header{

display: flex;


align-items:flex-start;
justify-content: flex-start;
margin-left: 0%;
padding-left: 0%;






}

.navBar{


  height:10%


}

.Carousal{

 justify-content: center;

}

@media(min-width: 200px)and (max-width: 400px){
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid;
    
    border-radius: 20%;
    border-color: lightslategrey;
    margin: 50px;
    padding: 20px;
    width: 70%;
    background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(148, 186, 202), rgb(120, 169, 194));    height: 400px;
    font-weight: 400;
    }

  


  .container{

    justify-content: center;
    align-items: center;
    width: 100%;
   
   }
  .Nav{
  
    border-color: lightslategrey;
    margin: 0px;
    padding: 22px;
    background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(184, 159, 165), rgb(17, 22, 25));    height: 55px;
    height: 10%;
  }

  .page {
  
 
    background-image: url(assets/images/back4.jpg);  height: 2000px;
  
  
  }
  .my-form{
    display:flex;
    flex-wrap:wrap;
    background-image: url(assets/images/back4.jpg);   height: 10000px;
    justify-content: center;
    align-content: space-between;
    gap:10px;
    font-style: italic;
    font-variant-ligatures: common-ligatures;
    font-family: sans-serif;
   
    padding-top: 20px;
    align-self: auto;
  }

  

}

@media(min-width: 400px)and (max-width: 900px){
  .container{

    justify-content: center;
    align-items: center;
    width: 100%;
   
  
   
   }
  .Nav{
  
    border-color: lightslategrey;
    margin: 0px;
    padding: 22px;
    background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(184, 159, 165), rgb(17, 22, 25));    height: 55px;
    height: 10%;
  }

  .page {
  
 
    background-image: url(assets/images/back4.jpg); height: 2100px;
  
  
  }
  .my-form{
    display:flex;
    flex-wrap:wrap;
    background-image: url(assets/images/back4.jpg);  height: 4000px;
    justify-content: center;
    align-content: space-between;
    gap:10px;
    font-style: italic;
    font-variant-ligatures: common-ligatures;
    font-family: sans-serif;
   
    padding-top: 20px;
    align-self: auto;
  }

  

}
@media(min-width: 900px)and (max-width: 1400px){

  .container{

    justify-content: center;
    align-items: center;
    width: 80%;
   
   }
  .Nav{
  
    border-color: lightslategrey;
    margin: 0px;
    padding: 22px;
    background: linear-gradient(90deg, rgb(241, 247, 250) 0%, rgb(184, 159, 165), rgb(17, 22, 25));  height: 55px;
    height: 10%;
  }

  .page {
  
 
    background-image: url(assets/images/back4.jpg);  height: 1000px;
  
  
  }
  .my-form{
    display:flex;
    flex-wrap:wrap;
    background-image: url(assets/images/back4.jpg);  height: 2500px;
    justify-content: center;
    align-content: space-between;
    gap:10px;
    font-style: italic;
    font-variant-ligatures: common-ligatures;
    font-family: sans-serif;
   
    padding-top: 20px;
    align-self: auto;
  }

  

}

.landing{
  background-image: url(assets/images/back.png.jpg);
  height: 600px;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #121212;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
}